{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}

{% block body %}

    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Trouver votre entreprise ou votre futur employé !</h1>
        <p class="lead text-body-secondary">TRT Conseil aide les entreprises et les candidats se rencontrer.
        Inscrivez-vous puis postulez ou créez votre propre annonce !</p>
        <p>
          <a href="/announcement" class="btn btn-primary my-2">Voir les annonces</a>

          {% if is_granted('ROLE_USER') and app.user.candidate is not null %}
            <a href="/candidate/{{ app.user.candidate.id }}" class="btn btn-warning my-2">Mon compte</a>
          {% endif %}

          {% if is_granted('ROLE_USER') and app.user.recruiter is not null %}
            <a href="/announcement_create/{{ app.user.recruiter.id }}" class="btn btn-secondary my-2">Poster une annonce</a>
            <a href="/recruiter/{{ app.user.recruiter.id }}" class="btn btn-warning my-2">Mon compte</a>
          {% endif %}
          
        </p>
      </div>
    </div>
  </section>

{% endblock %}
