
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src={{ asset('media/trtconseil-logo.png') }} alt="image" class="img-fluid">
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2">Features</a></li>
                <li><a href="#" class="nav-link px-2">Pricing</a></li>
                <li><a href="#" class="nav-link px-2">FAQs</a></li>
                <li><a href="#" class="nav-link px-2">About</a></li>
            </ul>

            <div class="col-md-3 text-end">
                {% if not is_granted('ROLE_USER') %}
                    <a type="button" class="btn btn-outline-primary me-2" href="/login">Se connecter</a>
                    <a type="button" class="btn btn-primary" href="/register">s'inscrire</a>
                {% endif %}
                {% if is_granted('ROLE_MODERATOR') %}
                    <a href="/admin" class="btn btn-primary my-2">Admin</a>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <a href="/logout" class="btn btn-primary my-2">Se déconnecter</a>
                {% endif %}

            </div>
            </header>
        </div>

